.description {
    width: 100%;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: "Montserrat";
    font-weight: 500;

    &:first-child {
        padding-top: 100px;
    }

    &:last-child {
        height: 100%;
        padding-bottom: 100px;
    }
}